<h1>{{Pro.name}}</h1>
<div class="center2">
    {{Pro.city}}<br>
    {{Pro.contact}}<br>
    {{Pro.about}}<br>
    </div>
    
<button class="button"><a class="noUnderline" href="/{{catId}}/photographers/{{Pro._id}}/edit">Update Photographer
        Info</a></button>


<form class="center2" action="/{{catId}}/photographers/{{Pro._id}}/photos/new" method="POST">
    <input type="text" name="url" placeholder="Add URL" />
    <input type="text" name="caption" placeholder="Add Caption" />
    <button class="button" type="submit">Add A Picture</button>

</form>
<div class="category">
    {{#each Pro.portfolio}}

    {{!-- {{caption}} --}}

    <a href="/{{../catId}}/photographers/{{../Pro._id}}/photos/{{_id}}"><img class="picture" src="{{url}}"></a>

    {{/each}}

    <form action="/{{catId}}/photographers/{{Pro._id}}?_method=DELETE" method="POST">
        <button class="button3" type="submit">Delete A Photographer</button>
    </form>
</div>