
<h1>{{Pro.name}}</h1>
    {{Pro.city}}
    {{Pro.contact}}
    {{Pro.about}}
<button class="button"><a href="/{{catId}}/photographers/{{Pro._id}}/edit">Update Photographer Info</a></button>


<form action="/{{catId}}/photographers/{{Pro._id}}/photos/new" method="POST">
    <input type="text" name="url" placeholder="Add URL"/>
    <input type="text" name="caption" placeholder="Add Caption"/>    
    <button class="button" type="submit">Add A Picture</button>
    
</form> 
<div class="category"> 
{{#each Pro.portfolio}}

{{caption}}

<a href="/{{../catId}}/photographers/{{../Pro._id}}/photos/{{_id}}"><img src="{{url}}"></a>

{{/each}}

<form action="/{{catId}}/photographers/{{Pro._id}}?_method=DELETE" method="POST">
    <button class="button" type="submit">Delete A Photographer</button>
</form>  
</div>
