<main>
	<h2>Edit Photographer Info!</h2>
	<a href="/photographers">Return to Photographer</a>

		<form action="/{{catId}}/photographers/{{photographers._id}}?_method=PUT" method="POST">
			<input type="text" name="name" value="{{photographers.name}}" placeholder="Name">
			<input type="text" name="city" value="{{photographers.city}}" placeholder="City">
			<input type="text" name="contact" value="{{photographers.contact}}" placeholder="Contact">
			<input type="text" name="about" value="{{photographers.about}}" placeholder="About">
			<button class="button" type="submit" name="submit">Update Info</button>
		</form>
	</div>

</main>