

<div class="category">
<img src="{{photo.url}}">
<p>{{photo.caption}}</p>

<form action="/{{catId}}/photographers/{{proId}}/photos/{{photo._id}}?_method=DELETE" method="POST">
    <button class="button" type="submit">Delete A Picture</button>
</form>
</div>