{{Cat.name}}

{{#each photographers.photos}}
<a class="noUnderline" href="/{{_id}}">{{name}}</a>
name: {{name}} 
{{/each}}
<form action="/{{Cat._id}}?_method=DELETE" method="POST">
    <button type="submit">Delete Category</button>
</form>